.row-container-form{
    display: flex;
    background-color: #E5E5E5;
    flex-direction: column;
}

.row-container-form .title-form{
    display: flex;
    margin-left: 5rem;
}


.row-container-form .card-movie-form{
    display: flex;
    width: 87vw;
    height: 75vh;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin: 1rem 5rem ;
    background-color: #fff;
    border-radius: 5px;
}

.card-movie-form .form-movies{
    display: flex;
    flex-direction: column;
    margin: 3rem 3rem;
    justify-content: space-between;
}

.top{
    display: flex;
    /* flex-direction: column; */
    margin-bottom: 1rem;
    line-height: 2;
}

/* .top .card-top1{
    width: 179px;
    height: 250px;
    border: 1px solid #5F2EEA;
} */

.top input{
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid black;
}

.card-top1 input{
    width: 10rem;
    height: 15rem;
    border-radius: 5px;
    border: 1px solid black;
}

.top select{
    width: 15.3rem;
    height: 2.3rem;
    border-radius: 5px;
    border: 1px solid black;
}

.card-top2 .label-release-date input{
    width: 10rem;
    height: 2rem;
}
.card-top2{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.card-top3{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.bottom{
    display: flex;
    flex-direction: column;
}

.bottom input{
    width: 100%;
    height: 5rem;
}

.bottom{
    margin-bottom: 1rem;
}

.btn-confirm{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.btn-confirm .btn-save{
    background-color: #5F2EEA;
    border: 0px;
    color: #fff;
    cursor: pointer;
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
}

.btn-confirm .btn-save:hover{
    background-color: #3006a3;
}

.btn-confirm .btn-cancel{
    background-color: #fff;
    border: 1px solid #5F2EEA;
    color: #5F2EEA;
    cursor: pointer;
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
}

.btn-confirm .btn-cancel:hover{
    background-color: #fde400;
    color: #fff;
    border: 1px solid #fde400;
}

