 /* .add-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.add-form input{
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 2rem;
    margin: 1rem;
}

.add-form textarea{
    width: 12rem;
    height: 5rem;
    margin-left: 1rem;
} */




 .row-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}
.card-movie-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
}
.card-movie-details>* {
    flex: 0 0 20%;
}

.card-inside{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    flex-wrap: wrap;
    border: 1px solid #000;
    margin-bottom: 2rem;

}

.card-inside img{
    padding: 2rem;
    width: 159px;
    height: 224px;
    margin-bottom: 3rem;
}

.card-inside p{
    margin:1rem;
}

.card-movie-details .title{
    margin-left: 1rem;
    margin-top: 0.5rem;
    
}

.card-inside .genre{
    margin-left: 1rem;
    margin-top: 0.5rem;
    
}

.card-inside .director{
    margin-left: 1rem;
    margin-top: 0.5rem;
    
}

.card-inside .release-date{
    margin-left: 1rem;
    margin-top: 0.5rem;    
}

.card-inside .casts{
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.card-inside .description{
    margin-left: 1rem;
    margin-top: 0.5rem;
}



.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-modal{
    width: 8rem;
    height: 2rem;
    background-color: #5F2EEA;
    border : 0px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 3rem;
    cursor: pointer;
}



.btn-modal:hover{
    background-color: #3006a3;
}

.btn-modal-edit:hover{
    background-color: #04be1d;
}

.form-add-data{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100vh;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}



.form-add-data .input-label{
    display: flex;
    width: 12rem;
    height: 2rem;
    margin-bottom: 1rem;
}



.form-add-data .description{
    display: flex;
    flex-direction: column;
}

.form-add-data .description textarea{
    width: 15rem;
    height: 5rem;
    margin-bottom: 2rem;
}

.form-add-data .genre{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form-add-data .genre .select-genres{
    display: flex;
    width: 12rem;
    height: 2rem;
}

.form-edit-data{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100vh;
    align-items: center;
}

.form-edit-data .genre{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form-edit-data .genre .select-genres{
    display: flex;
    width: 12rem;
    height: 2rem;
}


.form-edit-data .input-label{
    display: flex;
    width: 12rem;
    height: 2rem;
    margin-bottom: 1rem;
}



.form-edit-data .description{
    display: flex;
    flex-direction: column;
}

.form-edit-data .description textarea{
    width: 15rem;
    height: 5rem;
    margin-bottom: 2rem;
}


.btn-confirm{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.btn-confirm .btn-save{
    background-color: #5F2EEA;
    border: 0px;
    color: #fff;
    cursor: pointer;
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
}

.btn-confirm .btn-save:hover{
    background-color: #3006a3;
}

.btn-confirm .btn-cancel{
    background-color: #ffa600;
    border: 0px;
    color: #fff;
    cursor: pointer;
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
}

.btn-confirm .btn-cancel:hover{
    background-color: #ff1e00;
} 

.modal-delete{
    display: flex;
    margin-left: 5rem;
}

.modal-delete img{
    width: 159px;
    height: 224px;
    margin: 2rem;
}

.btn-modal-delete{
    width: 6rem;
    height: 2rem;
    background-color: rgb(196, 16, 16);
    border : 0px;
    border-radius: 5px;
    color: #fff;
    /* margin: 1rem 1rem; */
    margin-right: 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
}

.btn-modal-edit{
    width: 6rem;
    height: 2rem;
    background-color: #009e15;
    border : 0px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 3rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

.btn-modal-delete:hover{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

.btn-action{
    display: flex;
}

